* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
}
.regist {
}
.regist > .content {
  width: 1440px;
  height: 900px;
  background-color: white;
  position: relative;
}
h1 {
  padding: 10px;
  color: #767676;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.regist > .content > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regist > .content form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 300px;
}
.regist > .content form > * {
  box-sizing: border-box;
  height: 50px;
}
.regist > .content form > div {
  width: 100%;
  position: relative;
}
.regist > .content form > div.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.regist > .content form > div > input:not([type="checkbox"]) {
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.regist > .content form > div:not(.agreement) > span {
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  text-wrap: nowrap;
}
.regist > .content form > div:not(.agreement) > a {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  text-wrap: nowrap;
  text-decoration: none;
  color: #49ba9b;
}
.right {
  color: #49ba9b;
}
.wrong {
  color: red;
}
.regist > .content form > button {
  width: 100%;
  font-size: 20px;
  background-color: #49ba9b;
  border-style: none;
  border-radius: 5px;
  color: white;
}
.regist > .content form > div.agreement i {
  color: #49ba9b;
}
