/* 
    1、引入CSS
    2、html body 默认高度是0  导致cover不生效，所以都加上width: 100%
    3、图片center 0  水平居中适应不同的分辨率
    4、/ cover 与 background-size: cover,写法都行 

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* 背景图 */
body {
    height: 100%;
    background: url(../images/bgi.jpg) no-repeat center 0 / cover;
    /* background-size: cover; */
}

/* 云彩 */
.cloud img {
    position: absolute;
    left: 50%;
}

.cloud img:nth-child(1) {
    margin-left: -250px;
    top: 20px;
    animation: cloud 1.5s infinite alternate linear;
}

.cloud img:nth-child(2) {
    margin-left: 400px;
    top: 100px;
    animation: cloud 1.5s infinite alternate linear 0.2s;
}

.cloud img:nth-child(3) {
    margin-left: -550px;
    top: 200px;
    animation: cloud 1.5s infinite alternate linear 0.5s;
}

@keyframes cloud {
    100% {
        transform: translate(20px);
    }
}

/* 热气球 */
.hot-air-balloon img {
    position: absolute;
    /* width: 100px;
    /* 或固定宽度，如 500px */
    /* height: 100px; */ 
    /* 固定高度 */
    /* object-fit: contain; */
    /* 等比例缩放，不裁剪 */
    /* left: 240px;
    top: 28px; */
    /* margin-left: -230px;
    margin-top: 120px; */

    animation: up-down 1.5s infinite alternate linear;
}

@keyframes up-down {
    100% {
        transform: translateY(20px);
    }
}

/* 活动提示 */
.activity img {
    position: absolute;
    /* width: 100%;
    height: 60px;
    object-fit: contain; */
    top: 460px;
}

.activity img:nth-child(1) {
    left: 360px;
    animation: up-down 1s infinite alternate linear;
}

.activity img:nth-child(2) {
    left: 590px;
    animation: up-down 1.5s infinite alternate linear 0.2s;
}

.activity img:nth-child(3) {
    left: 820px;
    animation: up-down 1.5s infinite alternate linear 0.5s;
}

.activity img:nth-child(4) {
    right: 360px;
    animation: up-down 1s infinite alternate linear 0.5s;
}

.giraffe img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20px, -140px);
    /* width: 120px;
    height: 120px; */
    object-fit: contain;
}

.text img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 400px;
    height: 400px; */
    object-fit: contain;
    animation: text 1s;
}

@keyframes text {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}