/* 头尾及各页面相同的样式 */
/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1240px;
}

/* 快捷导航 */
.shortcut {
    height: 53px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 53px;
    /* background-color: skyblue; */
}

.shortcut ul {
    display: flex;
    line-height: 53px;

}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: white;

}

.shortcut li:last-child a {
    border-right: 0;
}

.shortcut li .icon-phone {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login {
    color: #5eb69c;
}

/* 头部样式 */
.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
}

/* logo */
.logo {
    margin-right: 40px;
    width: 200px;
    height: 88px;
}

.logo a {
    display: block;
    /* width: 200px; */
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    font-size: 0;
}

/* 导航区域 */
.nav {
    margin-top: 33px;
    margin-right: 28px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 47px;
}

.nav li a {
    padding-bottom: 10px;
}

.nav li a:hover {
    border-bottom: 2px solid #5eb69c;
    color: #5eb69c;
}

/* 搜索区域 */
.search {
    display: flex;
    /* vertical-align: middle; */
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #f4f4f4;
}

.search .icon-search {
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}

.search input {
    /* 浏览器优先生效input框的默认宽度，所以flex1不生效 */
    /* 要想生效重置input框的默认宽度width: 0 */
    flex: 1;
    width: 0;
}

.search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

/* 购物车 */
.cart {
    position: relative;
    margin-top: 32px;
}

.cart .icon-cart {
    font-size: 24px;
}

.cart i {
    position: absolute;
    /* transform: translate(-95%, -5%); */
    top: 1px;
    left: 15px;
    padding: 0 6px;
    height: 15px;
    background-color: orangered;
    border-radius: 7px;
    font-size: 14px;
    color: white;
    line-height: 15px;
}

/* 底部 */
.footer {
    height: 580px;
    background-color: #f5f5f5;
}

/* 服务区域 */
.service {
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #333;
}

.service ul {
    display: flex;
    justify-content: space-evenly;
}

.service li {
    display: flex;
    width: 190px;
    height: 58px;
}

.service li h5 {
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
}


.service li:nth-child(3) h5 {
    background-position: -130px 0px;
}

.service li:last-child h5 {
    background-position: -65px 0px;
}

.service li p {
    font-size: 28px;
    line-height: 58px;
    color: white;
}

/* 帮助中心 */
.help {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 300px;
    /* background-color: skyblue; */
}

.help .left {
    display: flex;
}

.help .left dl {
    margin-right: 84px;
}

.help .left dl:last-child {
    margin-right: 0;
}

.help .left dt {
    margin-bottom: 30px;
    font-size: 18px;
}

.help .left dd {
    margin-bottom: 10px;
}

.help .left a {
    color: #969696;
}

.help .left .icon-gift {
    color: #5eb69c;
}

/* 右边区域 */
.help .right ul {
    display: flex;
}

.help .right li:first-child {
    margin-right: 55px;
}

.help .right .pic {
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.help .right p {
    color: #969696;
    text-align: center;
}

/* 版权区域 */
.copyright {
    text-align: center;
}

.copyright p {
    margin-bottom: 10px;
    color: #a1a1a1;
}

.copyright p a {
    margin: 0 10px;
    color: #a1a1a1;
}