.carousel img {
  height: 100%!important;
}
@media (max-width: 992px) {
  .carousel .item {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .carousel .item {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .carousel .item {
    height: 500px;
  }
}
.navbar-default {
  background-color: transparent;
  border: 0!important;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.project {
  padding-top: 60px;
  text-align: center;
}
.project h1 {
  color: #494d55;
}
.project p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #919191;
}
.project .container div a {
  display: block;
  height: 200px;
}
.project .container div:nth-child(1) a {
  background-color: #77c6f4;
}
.project .container div:nth-child(2) a {
  background-color: #e65a7e;
}
.project .container div:nth-child(3) a {
  background-color: #7e8d9d;
}
.project .container div:nth-child(4) a {
  background-color: #8adf51;
}
