* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
ul {
  list-style: none;
}
.blk_nav {
  height: 53px;
  background-color: #333333;
  display: flex;
  justify-content: center;
}
.content {
  width: 1240px;
  display: inline-block;
}
.blk_nav > .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.blk_nav ul {
  width: 700px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.blk_nav ul > li {
  padding: 0px 15px;
}
.blk_nav ul > li:not(:first-child) {
  border-left: 1px solid #666666;
}
.blk_nav ul a {
  text-decoration: none;
  color: #dcdcdc;
}
.blk_nav ul a:hover {
  color: #17bb9b;
}
body > span {
  width: 100px;
  height: 100px;
  font-size: 70px;
}
body > span.iconfont {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  background-color: #cfcccd;
}
