* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  color: #333;
}
.blk_login {
  height: 488px;
  background-image: url("../images/login-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.blk_login > .content {
  display: inline-block;
  width: 1170px;
  height: 100%;
  position: relative;
}
.login {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 380px;
  height: 360px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.login > ul {
  list-style: none;
}
/* #region tabline */
.login > ul.tabline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.login > ul.tabline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: #ededed;
}
.login > ul.tabline > li {
  font-size: 18px;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
}
.login > ul.tabline > li.active {
  border-bottom: 2px solid #17bb9b;
}
/* #endregion tabline */
/* #region pagelist */
.login > ul.pagelist {
  height: 100%;
}
.login > ul.pagelist > li {
  display: none;
  height: 100%;
}
/* #region 账户登录 */
.login > ul.pagelist > li[data-id="1"].active {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.login > ul.pagelist > li[data-id="1"] > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login > ul.pagelist > li[data-id="1"] > form > div {
  height: 34px;
  display: flex;
  border: 1px solid #17bb9b;
}
.login > ul.pagelist > li[data-id="1"] > form > div.agree {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin: -15px 0px;
  border: none;
  display: block;
}
.login > ul.pagelist > li[data-id="1"] > form > div.agree > i {
  color: #17bb9b;
}
.login > ul.pagelist > li[data-id="1"] > form > div > span.iconfont {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  background-color: #cfcccd;
}
.login
  > ul.pagelist
  > li[data-id="1"]
  > form
  > div
  > input:not([type="checkbox"]) {
  flex-grow: 1;
  height: 100%;
  border: none;
  padding-left: 15px;
}
.login > ul.pagelist > li[data-id="1"] > form > button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #17bb9b;
  border-style: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2em;
  text-indent: 2em;
}
.login > ul.pagelist > li[data-id="1"] > div {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #endregion 账户登录 */
/* #region 二维码登录 */
.login > ul.pagelist > li[data-id="2"].active {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* #endregion 二维码登录 */
/* #endregion pagelist */
